`body{
    font-size: 30px;
    width: 600px;
    background-color: grey;
}

#display{
    text-align: center;
    width: 600px;
    color: white;
    font-size: 40px;
    background-color: black;
}

#button {
  display: flex;
  color:white;
  background-color: orange;
  border: 2px solid white;
  border-radius: 8px;
}

#numbers{
    display: flex;
    flex-direction: column;
    width:250px;
    background-color: white;
    border: 2px solid black;
    border-radius:
}

#transactions{
  background-color: grey;

}

.row{
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    color:black;
  border-bottom-style: solid;
  border-color: black;
}

#operators, #transactions{
    display: flex;
    flex-direction: column;

}

#operators{
    margin-right:  20px;
    margin-left:  20px;
    color:black;
}`

[6:08]
``

[6:08]
‘’

[6:08]
‘‘test

[6:08]
``test

[6:08]
‘‘test’'

[6:08]
``test``