body{
    font-size: 30px;
    width: 550px;

}

#display{
    text-align: right;
    width: 95%;
    height: 50px;
    background-color:lightgrey;
    padding-right: 30px;
    line-height: 50px;
}
#button {
  display: flex;
  color: red;
  text-align: center;

}

#numbers{
    display: flex;
    flex-direction: column;
    width:40%;
}

.row{
    display: flex;
    justify-content: space-around;
}

.number, .operations, .functions {
  border: 3px solid black;
  padding: 10px;
  margin-top: 10px;
}

#operators, #transactions{
    display: flex;
    flex-direction: column;
}

#operators{
    margin-right:  20px;
    margin-left:  20px;
}



